<h1><a href="/">Where to meet</a></h1>
<h2 class="lead">Venues near <%= location %></h2>

<div class="row">
  <div class="col-md-8">
    <div id="map"
      data-geojson-url="<%= geojson_url %>"
      data-midpoint="<%= midpoint %>"
      data-you="<%= you %>"
      data-you-address="<%= params["your_location"] %>"
      data-friend-address="<%= params["friend_location"] %>"
      data-friend="<%= friend %>"
      data-max-x="<%= bounding_box.max_x %>"
      data-max-y="<%= bounding_box.max_y %>"
      data-min-x="<%= bounding_box.min_x %>"
      data-min-y="<%= bounding_box.min_y %>"
    ></div>
  </div>

  <div class="col-md-4 venues">
    <% venues.each do |item| %>
      <div class="venue">
        <h3>
          <a href="<%= item.venue.url %>">
            <%= item.venue.name %>
          </a>
        </h3>

        <div class="row">
          <div class="col-md-1">
            <div class="rating" style="background: #<%= item.venue.ratingColor %>">
              <%= item.venue.rating %>
            </div><!-- /rating -->
          </div>
          <div class="col-md-11 meta">
            <div class="address">
              <%= item.venue.location.formattedAddress.first %>
            </div><!-- /address -->

            <div class="categories-hours">
              <span class="categories">
                <%= item.venue.categories.map { |c| c.shortName }.join(", ") %>
              </span>
              <% if item.venue.hours %>
                <span class="hours"> - <%= item.venue.hours.status %></span>
              <% end %>
            </div><!-- /categories -->
          </div>
        </div>

        <div class="menu">
          <% if item.venue.has_menu %>
            <a href="<%= item.venue.menu.url %>"><%= item.venue.menu.anchorText %></a>
          <% end %>
        </div><!-- /menu -->

        <div class="row times"
          data-address="<%= item.venue.location.formattedAddress.join(", ") %>"
        >
          <div class="you_time time col-md-5" data-profile="<%= params["you_profile"] %>">
            <%= time_to_in_words :you, item.venue.location %> from you
          </div>
          <div class="friend_time time col-md-7" data-profile="<%= params["friend_profile"] %>">
            <%= time_to_in_words :friend, item.venue.location %> from your friend
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div><!-- /row -->
